<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <nav class="shadow-lg">     
            <div class="flex items-center">
                <a href="{% url 'signup' %}" class="mr-6 text-sm font-medium text-gray-500">Sign up</a>
                <a href="{% url 'member' %}" class="mr-6 text-sm font-medium text-gray-500">member</a>
                
                
            </div>
        </div>
    </nav>
    
</body>
</html>