<nav>

    <a href="{% url 'member' %}">member</a>
    <a href="{% url 'signup' %}">signup</a>
    <a href="{% url 'login' %}">login</a>
    <a href="{% url 'password_change' %}">change_password</a>
    <a href="{% url 'logout' %}">logout</a>
    <a href="{% url 'password_reset' %}">password_reset</a>
</br>
</br>
</br>
    {%if user.is_authenticated%}
    Hi {{user.username}}
    {% endif %}
</nav>
</br></br>
<h1>Hi coachs</h1>
<div class="shadow-lg mr-10 ">
    {% for coac in coach %}
    <div class="font-bold">
        Mr : {{ coac.coach_name }}
    </div>
    <div class="">
        coach_level :  {{ coac.coach_level }}
    </div>
    <div class="">
        time :  {{ coac.time }}
    </div>
    <div>location : {{ coac.location }}</div>
    <div class-"">
        level :  {{ coac.level }}
    </div>
    <div class="text-green-700 font-bold">
        price :  ${{ coac.price }}
    </div>
</br>
</br>
    {% endfor %}
    
</div>
